/* colors
#22223B - bg
#4A4E69
#9A8C98
#C9ADA7
#F2E9E4
#ffffff - font
*/
*{
    color:#F2E9E4;
}
html{
    background-color: #c9ADA7;
    overflow-x: hidden;
    height: 100%;
}
a:link{
    text-decoration: none;
}
#experience > h3,h4{
    text-align: center;
    padding: 3vh 0;
    height: 1vh;
}
#experience{
    background-color: #c9ADA7;
}
#main{
    
    background: #292949;
}
.navbar{
    font-weight: 700;
    background: #24243c;
    width: 100%;
    top: 0;
    position: fixed;
}

.workContent{
   margin: 0% 1vh;
}
.workLogo{
    
}
.projectTile{
    border: 2px solid white;
}
.projectTile > .projectContent{
    background-color: #746767;
}
.projectTile > img {
    width:100%;
    max-width: 100%;
}
.workTiles{
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #746767;
    background-color: #b59b95;
}
.workTiles:hover{
    background-color: green;
  
}
.skills-div {
    
    text-align: center;
}
.buttonToContent{
    border: 2px solid #c9ADA7;
    width: 30vh;
    text-align: center;
    padding: 1% 0;
    font-size: 3vh;
}
.buttonToContent:hover{
    border-radius: 15px;
    background-color: #c9ADA7;
}
footer{
   background-color: #22223B; 
}
#landing-div{
   background-color: #4A4E69;
   height: 100vh;
}
#work{
    
}
#skills{
   
}
#projects{
    
}
.content-div{
   
    padding: 0% 3%;
}
