@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center introDiv">
    <h1 class="display-4">Thomas Nathan Feeney</h1>
    <p>I am a software engieer. I am currently a Graduate Software Enginier at Kigtek Solutions. Please have a look around my portfolio to find my exxperiences to date.</p>

</div>
<div class="text-center ">
    <h2 class="display-5 text-capitalize bg-danger">Experiences</h2>
</div>
