@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center introDiv">
    <h1 class="display-4">Thomas Nathan Feeney</h1>
    <p>I am a software engieer. I am currently a Graduate Software Enginier at Kigtek Solutions. Please have a look around my portfolio to find my experiences to date.</p>
</div>
<div class="experiencesDiv">
    <h2 class="display-5 text-capitalize bg-danger text-center">Experiences</h2>
    <ul class="list-unstyled experienceList">
        <li>
            <h2>Kigtek Solutions - Graduate Software Engineer</h2>
            <p>Graduate Software Engineer, working with VB.NET and MySQL Server on CaskTEK. Used PowerApps and PowerAutomate. 
                Some Control systems work to deliver automation solutions to Distilleries using TIA Portal,
                SCL and VB Script.</p>
        </li>
        <li>
            <h2> MatesRates - Freelance Web Developer</h2>
            <p>I worked as a freelance developer to gain industry experience going into my final year of university.
                For MatesRates I created two websites using WordPress. One site was a Business website to provide information on their products and hirings.
                The second website was an eCommerce website for selling Wine. 
                I gained experience in writing custom PHP and SEO optimisation as well as working to a tight deadline.
            </p>
        </li>
    </ul>
    <h3>Languages</h3>
    <p class="fst-italic">Visual Basic, JavaScript, HTML, CSS, PHP, Java,  C#, Powershell, SQL, UML, Ladder Logic</p>
    <h3>Technologies</h3>
    <p class="fst-italic">SQL Server, Git,  JQuery, ASP.NET Core, AWS, PowerApps, Sharepoint, Unix/Debian9, TIAPortal </p>
</div>
<div class=" educationDiv">
    <h2 class="display-5 text-center text-capitalize bg-danger">education</h2>
    <ul class="list-unstyled eductationList">
        <li>
            <h2>BSc (Hons) Computing Science - Unversity of the West of Scotland</h2>
            <p>
                At university I completed an honours degree in Computing Science, covering modules such as Advanced programming, Database Administration and Algorithms and Collections.
                Most of my classes have included a team work element which has greatly improved my communication and leadership skills
            </p>
        </li>
        <li>
            <h2> HND and HNC in Web Developement and Digital Design</h2>
            <p>
            This was my first introduction to computing. In this course I was introduced to HTML, CSS and PHP.
            This was also a design course where I learned Photoshop.
            I also had an introduction to the Office365 package where I learned how to use software such as Excel and Word effectively.

            Following on from my HNC worked with more advanced languages and frameworks such as JavaScript, JQuery, SASS and C#.
            I also worked with WordPress and furthered my experience with Excel.
            </p>
        </li>
    </ul>
</div>
<div class="text-center projectsDiv">
    <h2 class="display-5 text-capitalize bg-danger">projects</h2>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col bg-success">
                <h3>Dissertation - How QR can benifit Cafe's or Bars'</h3>
                <p>For my honours project I had the idea to create an application to discuss and implement a way that QR codes can be used to improve/benefit the hospitality sector during Covid-19.
                    The main idea being that a restaurant can have a QR code that can be generated to link the user to a page on a web app that will display information to the user such as menus, deals and events.
                    The web application was primarily created using PHP that allowed the connection to use SQL databases to store information relative to the user such as usernames and passwords.</p>
            </div>
            <div class="col bg-secondary">
                    <h3>LogTEK - Call logging Application</h3>
                    <p>A PowerApps project to allow maintenance staff to log and keep track of maintenance calls.
                        This application will send select members of staff and customers an email when a log is completed. 
                        There is also fucntionality to allow monthy reports to be created and sent out to project managers, this makes use of PowerAutomate and PowerBI</p>
            </div>
            <div class="col bg-primary">
                <h3>TankWar - BSc Individual Project Advanced Programming for Mobile Devices</h3>
                <p>This project involved building a game using Java and Android Studio.
                    We were given parts of a Tank War game built in C++ - our task was to recreate the game in Java and improve upon it.
                    This project gave me experience developing a mobile app and modifying an existing codebase.</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center accomplishmentsDiv">
    <h2 class="display-5 text-capitalize bg-danger">accomplishments</h2>
</div>
