@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center introDiv">
    <h1 class="display-4">Thomas Nathan Feeney</h1>
    <p>I am a software engieer. I am currently a Graduate Software Enginier at Kigtek Solutions. Please have a look around my portfolio to find my experiences to date.</p>
</div>
<div class="experiencesDiv">
    <h2 class="display-5 text-capitalize bg-danger text-center">Experiences</h2>
    <ul class="list-unstyled">
        <li>
            <h2>Kigtek Solutions - Graduate Software Engineer</h2>
            <p>Graduate Software Engineer, working with VB.NET and MySQL Server on CaskTEK. Used PowerApps and PowerAutomate. 
                Some Control systems work to deliver automation solutions to Distilleries using TIA Portal,
                SCL and VB Script.</p>
        </li>
        <li>
            <h2> MatesRates - Freelance Web Developer</h2>
            <p>I worked as a freelance developer to gain industry experience going into my final year of university.
                For MatesRates I created two websites using WordPress. One site was a Business website to provide information on their products and hirings.
                The second website was an eCommerce website for selling Wine. 
                I gained experience in writing custom PHP and SEO optimisation as well as working to a tight deadline.
            </p>
        </li>
    </ul>
</div>
<div class="text-center educationDiv">
    <h2 class="display-5 text-capitalize bg-danger">education</h2>
</div>
<div class="text-center projectsDiv">
    <h2 class="display-5 text-capitalize bg-danger">projects</h2>
</div>
<div class="text-center accomplishmentsDiv">
    <h2 class="display-5 text-capitalize bg-danger">accomplishments</h2>
</div>
